@charset "utf-8";
/* CSS Document */

/*******************
***상세페이지 CSS***
*******************/
*{text-decoration: none;}
img{border:none;}
body{
	word-break:keep-all;
}
#title:before{
	background: linear-gradient(rgba(255,255,255,0.1) 60%, rgba(0,0,0,0.2));
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	z-index: 10;
}
#title{
	width:100%;
	height:450px;
	margin-right:10%;
	position: relative;
	background-image:url(../image/portfolio/contents/2-bg.jpg);
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
}
#title2{
	width:100%;
	height:450px;
	background:url(../image/portfolio/contents/1-bg.png);
	background-size: auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center 30px;
	position:relative;
}
#pf1-title2{
	width:100%;
	height:450px;
	position: relative;
	z-index: 102;
}
#title-wrap{
	width: 1200px;
	height:450px;
	margin: 0 auto;
}
h1{
	width:1200px;
	font-size:48px;
	margin-top:-28px;
	bottom:30px ;
	right:0;
	padding-left: 4px;
	margin:0 auto;
	padding-top: 310px;
	text-align: right;
	color:white;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	z-index: 100;
}
#title-wrap h4{
	font-size:30px;
	text-align: right;
	color: white;
	margin:0;
}
#title-wrap hr{
	width: 40px;
	border: 1px solid white;
	float: right;
	margin-top: -10px;
}
#go-web{
	width:110px;
	height:60px;
	border-radius: 30px;
	border:1px solid white;
	text-align: center;
	font-size: 25px;
	line-height:60px;
	position: absolute;
	cursor: pointer;
	right: 20%;
	bottom: 30px;
	animation: go-web-ani 1s infinite;
	z-index: 101;
}
#go-web a{
	color: white;
	display: block;
}
#go-web:hover{
	animation: go-web-hover 1s;
	background:rgba(255,255,255,0.3);
	border:none;
}
@keyframes go-web-hover{
	0%{
		background:rgba(255,255,255,0);
	}
	100%{
		background:rgba(255,255,255,0.3);
	}
}
@keyframes go-web-ani{
	0%{
		opacity:0.2;
	}
	100%{
		opacity:1;
		right:19%;
	}
}
@media (max-width: 1200px){
	#title-wrap{
		width: 90%;
	}
	#pf6-h1{
		width: 100%;
	}
	h1{width: 90%;}

	#go-web{
		right:10px;
		animation: go-web-ani2 1s infinite;
		margin-right:60px;
	}
}
@keyframes go-web-ani2{
	0%{
		opacity:0.2;
	}
	100%{
		opacity:1;
		right:00px;
	}
}
@media (max-width: 776px){
	#title{
		height: 310px;
		background-size:1000px auto;
		background-attachment: fixed;
	}
	#title2{
		height: 310px;
		background-size: 400px auto;
	}
	#title-wrap{
		width: 300px;
		height:310px;
	}
	h1{
		width:300px;
		word-break:keep-all;
		padding-top: 140px;
		font-size: 35px;
		text-align: center;
	}
	#title-wrap hr{
		float: inherit;
		margin:0px auto;
		margin-top: -10px;
	}
	#title-wrap h4{
		text-align: center;
		font-size: 1.5rem;
	}
	#go-web{
		position:relative;
		margin:0 auto;
		margin-top: 40px;
		box-shadow: 0 0 7px rgba(0,0,0, 0.2), 0 0 7px rgba(0,0,0, 0.2) inset;
	}
	#go-web a{
		text-shadow: 0 0 7px rgba(0,0,0, 0.2)
	}
}
/****************************
*****포폴 추가선택 메뉴들****
****************************/
ul{ 
	list-style-type: none;
	position: absolute;
	left: 0;
	bottom:25px;
	width: 200px;
}
.sel-menu{
	width: 80px;
	height: 60px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.6);
	display: block;
	float: left;
	text-align: center;
	font-size: 1.5rem;
	color: white;
	line-height: 60px;
	margin:0 10px;
	position: relative;
	z-index: 1000;
}
.sel-menu:hover:not(.cr-menu){
	animation: sel-hover 0.3s;
	animation-fill-mode:both;
}


.cr-menu{
	background-color: rgba(0,0,0,0.5);
}
@keyframes sel-hover{
	0%{
		background-color: none;
	}
	100%{
		background-color: rgba(255,255,255,0.5);
	}
}

@media (max-width: 776px){
	ul{
		width:120px;
		height: auto;
		position:relative; 
		margin: 0 auto;
		margin-top: -195px;
	}
	.sel-menu{
		background-color: black;
		width:50px;
		height: 50px;
		border-radius: 25px;
		margin:0 5px;
		font-size: 1rem;
		line-height: 50px;
		border:none;
	}
	.sel-menu.cr-menu{
		background-color: #e82445;
	}
}



.tt-hr{
	border:1px solid #494949;
	width:85%;
	position: absolute;
	bottom:24px;
	left: 0;
}
.content{
	width:1200px;
	height:auto;
	position:relative;
	margin:0 auto;
	text-align:center;
	font-size:1rem;
	color:#494949;
	word-break:keep-all;
}
@media (max-width: 1200px){
	.content:first-child{
		margin-top: -100px;
	}
	.content{
		width:100%;
	}
}
.con-title{
	width: auto;
	height: 220px;
	background: url(../image/title.svg);
	background-size: 120px auto;
	background-repeat: no-repeat;
	background-position:center;
	line-height:220px;
	font-size: 40px;
	font-weight: 100;
	margin:0 auto;
	margin-top: 230px;
	color: #494949;
	text-align: center;
}
img{
	margin:60px 0;
}
.con-img{
	width:100%;
	height:auto;
}
.con0-img{
	width:60%;
	min-width: 300px;
	max-width:700px;
	height:auto;
	margin-bottom:0;
}
.txt-right{		/** pf0 에서 이미지 옆에 정렬된 텍스트 **/
	width:40%;
	position: absolute;
	top: -500px;
	right: 0;
}
.logo-img{
	width:300px;
	height:auto;
}
@media (max-width: 650px){
	.txt-right{
		width: 80%;
		height: auto;
		position: relative;
		top: 150px;
		margin:0 auto;
		text-align: center;
		
	}
	.logo-img{
		width:200px;
	}
	.color-img{
		width:100%;
	}
}

/****************************
*******difference img********
****************************/
.diff-menu{
	width: 50%;
	position:relative;
	float: left;
	padding: 10px 50px;
	margin-top: 70px;
}
.diff-menu::after{
	content:""; display:block; clear:both;
}
#diff-menu-1{
	background: #333;
	text-align: right;
}
#diff-menu-2{
	background: #ff3e5e;
	text-align: left;	
	margin-bottom: 30px;
}
.diff-menu img{
	width: 250px;
	height: auto;
}
@media (max-width: 776px){
	.diff-menu{
		width: 100%;
		float: none;
		margin: 0;
		padding: 0px;
	}
	#diff-menu-1{
		margin-top: 40px;
	}
	#diff-menu-1, #diff-menu-2{
		text-align: center;
	}
	.diff-menu img{
		width:60%;
		max-width: 200px;
	}
}


/*********diff imgs*********/

.diff-img{
	width:45%;
	height: auto;
	position: relative;
}
#diff-img-wrap{
	text-align: center;
	position: relative;
	z-index: -1;
	width:100%;
	height: auto;
	padding-top: 20px;
	margin-top:70px;
	background:#F2F2F2;
}
#diff-img-wrap>.diff-img{
	width: 90%;
	max-width: 1000px;
	margin-top: -300px;
}
#diff-img-wrap>img:nth-of-type(2){
	margin-top: -450px;
}
#diff-img-wrap>img:first-of-type, #diff-img-wrap>img:nth-of-type(3){
	margin-right: 30%;
}
#diff-img-wrap>img:nth-of-type(2), #diff-img-wrap>img:nth-of-type(4){
	margin-left: 30%;
}
#diff-img-wrap>img:first-of-type{
	margin-top: 0;
}
@media (max-width: 1400px){
	#diff-img-wrap>.diff-img{
		width:60%;
		margin-top: -200px;
	}
	#diff-img-wrap>img:nth-of-type(2){
	margin-top: -330px;
	}
}
@media (max-width: 997px){
	#diff-img-wrap>.diff-img{
		width:70%;
		margin-top: -150px;
	}
	#diff-img-wrap>img:nth-of-type(2){
	margin-top: -250px;
	}
	#diff-img-wrap>img:first-of-type, #diff-img-wrap>img:nth-of-type(3){
	margin-right: 20%;
	}
	#diff-img-wrap>img:nth-of-type(2), #diff-img-wrap>img:nth-of-type(4){
		margin-left: 20%;
	}
}
@media (max-width: 776px){
	.diff-img{
	width: 80%;
	margin: 5px 0;
	}
	#diff-img-wrap{
		padding-top: 30px;
		padding-bottom: 50px;
	}
	#diff-img-wrap>.diff-img{
		width:90%;
		margin-top:-20px;
	}
	#diff-img-wrap>img:nth-of-type(2){
	margin-top:-80px;
	}
	#diff-img-wrap>img:first-of-type, #diff-img-wrap>img:nth-of-type(3),#diff-img-wrap>img:nth-of-type(2), #diff-img-wrap>img:nth-of-type(4){
	margin-left:0;
	margin-right:0;
	}
}

/************************************
********pf6에서 앱디자인 배경**********
*************************************/
.appd-img-wrap::before{
	background-color: rgba(255,255,255,0.4);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.appd-img-wrap{
	text-align: center;
	background-color: #eee;
	margin-top: 20px;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.appd-img-wrap img{
	width: 300px;
	height: auto;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	margin: 40px 10px;
}
@media (max-width: 650px){
	.appd-img-wrap{
		background-size: 1000px auto;
	}
}





/*************************
*******widget-wrap********
*************************/
#widget-wrap{
	background-color: #424242;
}
#widget-wrap img{
	margin:20px 15px;
}


/*************************
******mu-img-wrap*********
*************************/
#mu-img-wrap:before{
	background:linear-gradient(rgba(255,255,255,1) 10%, rgba(255,255,255,0.1));
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#mu-img-wrap{
	width: 100%;
	height: auto;
	padding: 50px;
	background-image: url(../image/portfolio/contents/1-mockup-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	margin-top: -250px;
	padding-top: 270px;
	position: relative;
	z-index: -1;
}
#mu-img-wrap img{
	width: 80%;
	height: auto;
	max-width: 1200px;
}
@media (max-width: 1200px){
	#mu-img-wrap:before{
	background:linear-gradient(rgba(255,255,255,1) 20%, rgba(255,255,255,0.1));
	}
	#mu-img-wrap{
		padding:0;
		padding-top: 270px;
	}
	#mu-img-wrap img{
		width: 100%;
	}
}
@media (max-width: 776px){
	#mu-img-wrap{
		background-size: 1000px auto;
		background-attachment: inherit;
	}
}


/************************q
****** .sb-img **********
************************/
.sb-img{
	width: 38%;
	max-width: 700px;
	height: auto;
	margin: 30px 70px;
	vertical-align: text-top;
}
@media (max-width: 1200px){
	.sb-img{
		width: 48%;
		max-width: none;
		min-width: none;
		margin: 0;
		margin-top: 50px;
	}
}
@media (max-width: 776px){
	.sb-img{
		width: 90%;
	}
}

@media (max-width: 596px){
#pf5-img{
	width: 100%;
	height: auto;	
}
}
.icon-img-wrap{
	background-color:#D9D9D9;
	text-align: center;
}
.icon-img{
	width: 300px;
	height: auto;
	margin: 20px;
}

@media (max-width: 650px){
	.icon-img{
		width: 60%;
		height: auto;
	}
}
/******************************
*******pf8의 광고지 wrap*******
******************************/
.ad-img-wrap{
	width: 100%;
	height: auto;
	background-image: url(../image/portfolio/contents/8-con-bg.svg); 
	background-size:200px auto; 
	background-attachment:fixed; 
	background-repeat: repeat;
	text-align: center;
	margin-top: 30px;
}
.ad-img-wrap img:not(.poster){
	width: 400px;
	height: auto;
	margin: 25px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
.poster{
	width:1200px;
	height: auto;
	margin: 25px 0;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
@media (max-width: 1200px){
	.poster{
		width:100%;
	}
}
@media (max-width: 776px){
	.ad-img-wrap img:not(.poster){
		width: 80%;
		height: auto;
		margin: 20px 0;
	}
}
/*****************************
*****pf8-2의 리플렛 배경******
*****************************/
.lf-img-wrap{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 30px;
}
.lf-img-wrap img:first-of-type{
	width: 1200px;
	height: auto;
}
.lf-img{
	width: 700px;
	height: auto;
	margin:20px;
}
@media (max-width: 1200px){
	.lf-img-wrap img:first-of-type{
		width:100%;
		margin:10px 0;
	}
	.lf-img{
		width: 600px;
		margin: 10px;
	}
}
@media (max-width: 650px){
	.lf-img{
		width: 100%;
		margin: 10px 0;
	}
}


.font-wrap:before{
	background:rgba(0,0,0,0.4);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.font-wrap{
	width:100%;
	height:auto;
	background-image:url(../image/portfolio/contents/2-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align:center;
	margin-top: 80px;
}
.font-wrap{
	padding: 40px 0;
}
footer{
	background-color:#222;
	padding:50px;
}
footer hr{
	width:20px;
	border:3px solid rgba(255,255,255,0.8);
	margin:10px 0;
}
#footer-wrap{
	width: 1200px;
	height:auto;
	margin:0 auto;
	color: white;
	text-align: left;
}
@media (max-width: 1200px){
	.layout-img{
		width:100%;
	}
	.font-img{
		width:50%;
		height:auto;
		margin:0;
	}
	#footer-wrap{
		width:100%;
	}
}
@media (max-width: 776px){
	.font-wrap{
		background-size:1200px auto;
		background-position: center;
		background-attachment: inherit;
		background-repeat: no-repeat;
	}
	.font-img{
		width: 80%;
		height: auto;
	}
	footer{
		padding:30px 20px;
	}
	footer hr{
		border-width:1px;
	}
	footer h2{
		font-size: 20px;
	}
	footer h4{
		font-size: 13px;
	}
}
#top{
	width: 50px;
	height: 50px;
	background:url(../image/top.svg);
	background-repeat: no-repeat;
	position: fixed;
	right: 10px;
	bottom: 10px;
	right:15%;
	cursor: pointer;
	box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
}
@media (max-width: 1200px){
	#top{
		right: 10px;
	}
}