@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic|Source+Sans+Pro);
/* ++++ font-weight ++++
	300 : light
	400 : regular
	600 : semibold
	700 : bold
	800 : extra bold
	++++++++++++++++++++ */
	
.logo span{
	font-size:20px;
	font-weight:800;
	color:#161920;
}
input, select{
	border:1px solid #dfeef3;
	font-size:13.5px;
	color:rgb(160,169,182);
}
.btns{
	font-size:13.5px;
	font-weight:bold;
	color:white;
}
.title_sub{
	font-size:18px;
	letter-spacing:0.025em;
	font-weight:400;
	color:#859aa1;
}
.title_main{
	font-size:30px;
	font-weight:800;
	letter-spacing: -0.025em;
	color:#556b72;
}
.benefit{
	line-height:24px;
	font-size:13.5px;
	letter-spacing:0.01em;
	color:#a0a9b6;
}
.title_benefit{
	font-size:16px;
	font-weight:800;
	letter-spacing: 0.025em;
	color:#556b72;
}
.features li{
	font-size:13.5px;
	letter-spacing:0.01em;
	color:#696556;
}
#featuresView{
	font-size:13.5px;
	font-weight: 700;
	letter-spacing:0.1em;
}
.plan_cost{
	font-size:14px;
	font-weight:600;
	letter-spacing:0.01em;
	color:#556b72;
}
.plan_cost>span:nth-of-type(1){
	font-size:50px;
	font-weight:300;
	letter-spacing:-0.01em;
}
.plan_cost>span:nth-of-type(2){
	font-size:50px;
	font-weight:800;
	letter-spacing:-0.01em;
}
.plan_type{
	font-size:14px;
	font-weight:800;
	letter-spacing: 0.05em;
	color:white;
}
.plan_about li{
	font-size:14px;
	color:#8d9198;
}
.hosting_signup{
	font-size:13px;
	font-weight:700;
	letter-spacing: 0.1em;
	color:white;
}
.logo_footer span{
	font-size:20px;
	font-weight:800;
	color:white;
}
.logo_footer_wrap{
	font-size:14px;
	color:#909aad;
}
.footer_title{
	font-size:14px;
	font-weight:800;
	color:white;
}
.footer_list, .footer_list a{
	font-size:14px;
	color:#909aad;
}
.footer_list span{
	color:#e7f4f8;
}

/* +++++ Sub Pages +++++ */
.title_name{
	font-size:20px;
	font-weight:300;
	letter-spacing: 0.095em;
	color:white;
}
.title_name h2{
	font-size:40px;
	font-weight:800;
	letter-spacing:0.025em;
}